<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog</h1>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">


    {% for p in post_list %}
    <!-- Blog Post -->
    <div class = "card mb-4">
        {% if p.head_image %}
            <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
        {% else %}
            <img class="card-img-top" src="https://picsum/photos/seed/{{ p.id }}/800/200" alt="random image">
        {% endif %}

        <div class="card-body">
            <h2 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
            <p class="card-text">{{ p.content | truncatewords:30 }}</p> <!-- 첫 30개 단어만 보여줌-->
            <a class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ p.created_at }} by <a href="#">작성자명 쓸 자리!</a>
        </div>
    </div>
    {% endfor %}

</body>
</html>